<%- include("header") -%>

  <%- include("nav") -%>

  <div class="download-box">
    <h1>Song name is <%=songName%> </h1>
    <button>
      <a class="download-btn" href="<%=songLink%>">Download</a>
    </button>
  </div>

  

<%- include("footer") -%>
